{% extends 'base_admin.html.twig' %}

{% block title %}New Type Compte{% endblock %}

{% block body %}
    <h1>Create new Type Compte</h1>

    {{ include('type_compte/_form.html.twig') }}

    <a href="{{ path('app_type_compte_index') }}">back to list</a>
{% endblock %}
