{% extends 'base.html.twig' %}

{% block title %}New PubHor{% endblock %}

{% block body %}
    <h1>Create new PubHor</h1>

    {{ include('pub_hor/_form.html.twig') }}

    <a href="{{ path('app_pub_hor_index') }}">back to list</a>
{% endblock %}
