<!-- ======= Header ======= -->
<header id="header" class="header fixed-top {# header-transparent #}">
  <div style="text-align:right;text-color:#2e6e8b;"><span><a href="#" class="btn-get-started scrollto">Se connecter</a></span>&nbsp;&nbsp;&nbsp;<span style="padding-right:100px;;"><a href="#" class="btn-get-started scrollto">S'inscrire</a></span></div>
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">        
      <h1 class="text-light"><a href="{{ path('app_accueil') }}"><span>WORKATMADA</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      {# <a href="{{ path('accueil') }}"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> #}
    </div><br>
      {% block nav %}
          {% include 'accueil/nav.html.twig' %}
      {% endblock %}
    
  </div>
</header><!-- End Header -->