<nav id="navbar" class="navbar">
    <a class="nav-link scrollto" href="#">Accueil</a>
    <a class="nav-link scrollto" href="#">Emploi</a>
    <a class="nav-link scrollto" href="#">Petit annonce</a>
    <a class="nav-link scrollto" href="#">A propos</a>
</nav><!-- .navbar -->