{% extends 'base.html.twig' %}

{% block title %}New PubVer{% endblock %}

{% block body %}
    <h1>Create new PubVer</h1>

    {{ include('pub_ver/_form.html.twig') }}

    <a href="{{ path('app_pub_ver_index') }}">back to list</a>
{% endblock %}
